<ion-header>
    <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
          <ion-title>ALUMBRA
            <ion-icon name="flashlight"></ion-icon>
          </ion-title>
        </ion-toolbar>
      </ion-header>
  
  <ion-content>

    <label>
      <input type="checkbox" (change)="switchFlash($event)"/>
      <div>
        <span class="on">On</span>
        <span class="off">Off</span>
      </div>  
      <i></i>
    </label>
    
      
    <ion-card>
      <img src="assets/mishi.jpg">
      <ion-card-header>
       <ion-card-title>
          <h1 style = "text-align: center; font-size: 19px;">LAMPARA FLASH</h1></ion-card-title>
      </ion-card-header>
    </ion-card>

  
  </ion-content>
