<ion-header>
    <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
          <ion-title>CENTRO DE REFUGIO
            <ion-icon name="ios-pin"></ion-icon>
          </ion-title>
        </ion-toolbar>
      </ion-header>

<ion-content>
    <agm-map [latitude]="lat" [longitude]="lon" [zoom]="11">
      <agm-marker [latitude]="lat" [longitude]="lon" [label]="nombre">
          <agm-info-window [disableAutoPan]="true">
           
          </agm-info-window>
      </agm-marker>
    </agm-map>

  <div class="centrado">
      <div class="divButton">
         <ion-button shape="round" size="large" type="submit" (click)="hacerFoto()">Hacer foto</ion-button>
         <img [src]="foto" *ngIf="foto" />
         
          <p>Latitud: {{lat}}</p>
          <p>Longitud: {{lon}}</p>

      </div>
   </div>  
</ion-content>
