<ion-header>
    <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
          <ion-title>CENTRO DE REFUGIO
            <ion-icon name="ios-pin"></ion-icon>
          </ion-title>
        </ion-toolbar>
      </ion-header>

<ion-content>
  <agm-map [latitude]="lat" [longitude]="lon" [zoom]="11">
    <agm-marker [latitude]="lat" [longitude]="lon" [label]="nombre">
        <agm-info-window [disableAutoPan]="true">
         
        </agm-info-window>
    </agm-marker>
  </agm-map>
  
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="photoService.takePicture()">
            <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
         <ion-grid>
            <ion-row>
            <ion-col col-6 *ngFor="let photo of photoService.photos">
              
              <img [src]="photo.data" /> 
             
              </ion-col>  
            </ion-row>
        </ion-grid>
        <ion-card>
          <p>Latitud: {{lat}}</p>
          <p>Longitud: {{lon}}</p>
       </ion-card>
       
     
</ion-content>
