<ion-header>
    <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
          <ion-title>ADOPTA UN PERRO
            <ion-icon name="md-paw"></ion-icon>
          </ion-title>
        </ion-toolbar>
      </ion-header>
  
  <ion-content>
   
      <ion-card>
        <img src="assets/adopta.jpg">
        <ion-card-header>
          <ion-card-title>
            <h1 style = "text-align: center; font-size: 19px;">
                ADOPTA = FELICIDAD
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <h1 style = "text-align: justify; font-size: 15px;">
                  Al adoptar, le das alegría, una familia y un nuevo hogar a un animal de la calle.
                </h1>
          </ion-card-content>
      </ion-card>
  
        <ion-text color="light">
            <h3 style = "text-align: center; font-size: 5px;">¡</h3>
          </ion-text>
          <ion-card>
              <ion-card-header>
                <ion-card-title>
                  <h1 style = "text-align: center; font-size: 19px;">
                      LLENA EL SIGUIENTE FORMULARIO
                    </h1>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <h1 style = "text-align: justify; font-size: 15px;">
                        Si eres apto para adoptar se enviará información a tu correo.
                      </h1>
                </ion-card-content>
                <ion-text color="light">
                    <h3 style = "text-align: center; font-size: 5px;">¡</h3>
                  </ion-text>
                <ion-item>
                    <ion-text>Nombre(s):*</ion-text>
                    <ion-label position="floating"Nombres></ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                  
                  <ion-item>
                      <ion-text>Apellidos:*</ion-text>
                      <ion-label position="floating"Apellidos></ion-label>
                      <ion-input></ion-input>
                    </ion-item>
                  
                    <ion-item>
                        <ion-text>Telefono (10 digitos):*</ion-text>
                        <ion-label position="floating"Correo></ion-label>
                        <ion-input></ion-input>
                      </ion-item>
        
                      <ion-item>
                          <ion-text>Correo:*</ion-text>
                          <ion-label position="floating"Correo></ion-label>
                          <ion-input></ion-input>
                        </ion-item>
        
                        <ion-item>
                            <ion-text>¿Tienes más mascotas?:*</ion-text>
                            <ion-label position="floating"Correo></ion-label>
                            <ion-input></ion-input>
                          </ion-item>
        
                          <ion-item>
                              <ion-text>¿Tienes patio?:*</ion-text>
                              <ion-label position="floating"Correo></ion-label>
                              <ion-input></ion-input>
                            </ion-item>
        
                        <ion-text color="light">
                            <h3 style = "text-align: center; font-size: 4px;">¡</h3>
                          </ion-text>
        
                        <div class="centrado">
                            <div class="divButton">
                             <ion-button shape="round" size="large" type="submit">ENVIAR</ion-button>
                           </div>
                           </div>

                           <ion-text color="light">
                              <h1 style = "text-align: center; font-size: 4px;">¡</h1>
                              </ion-text>

            </ion-card>
              
                   <ion-text color="light">
                      <h1 style = "text-align: center; font-size: 10px;">¡</h1>
                      </ion-text>
          
