<ion-header>
    <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
          <ion-title>INICIO
            <ion-icon name="home"></ion-icon>
          </ion-title>
        </ion-toolbar>
</ion-header>

<ion-content>

    <ion-text color="light">
        <h1 style = "text-align: center; font-size: 5px;">¡</h1>
      </ion-text>

    <ion-text color="secondary">
        <h1 style = "text-align: center; font-size: 30px;">¡BIENVENIDO A</h1>
      </ion-text>

      
    <ion-text color="secondary">
        <h1 style = "text-align: center; font-size: 30px;">VETERINARIA UNI!</h1>
      </ion-text>

      
    <ion-text color="light">
        <h1 style = "text-align: center; font-size: 5px;">¡</h1>
      </ion-text>

    <ion-card>
        <img src="assets/vet2.jpg">
        <ion-card-header>
          <ion-card-title><h1 style = "text-align: center; font-size: 19px;">¿QUIENES SOMOS?</h1></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <h1 style = "text-align: justify; font-size: 15px;">Veterinaria UNI es una fundacion hecha por los alumnos de la Facultad de Ciencias Físico Matemáticas con la finalidad de dar refugio a animales de la calle mientras se busca un nuevo hogar y una nueva familia.</h1>
        </ion-card-content>
      </ion-card>

      <ion-text color="light">
          <h1 style = "text-align: center; font-size: 10px;">¡</h1>
        </ion-text>

        <ion-card>
            <img src="assets/vet.png">
            <ion-card-header>
              <ion-card-title><h1 style = "text-align: center; font-size: 19px;">¿COMO PUEDO SER VOLUNTARIO?</h1></ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <h1 style = "text-align: justify; font-size: 15px;">Con solo usar nuestra aplicacion, adoptando animales o llevar al refugio animales de la calle ¡Ya estas siendo voluntario!, en nuestro Menú encontrarás esta información.</h1>
            </ion-card-content>
          </ion-card>
          
          <ion-text color="light">
              <h1 style = "text-align: center; font-size: 10px;">¡</h1>
            </ion-text>
    </ion-content>   

